<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" xml:lang="{{ .Site.Language.Lang }}">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>
    {{ partial "googletagmanager.html" . }}
    {{ partial "header.html" . }}

    <section class="section rad-animation-group section--border-bottom imprint">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->