@charset "UTF-8";
/* You can customize theme styles here */

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-center>div {
    background-color: blueviolet !important;
    color: blueviolet !important;
}

.clients__item {
    background-color: burlywood;
}

.logo_wall.mobile_only>div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 33.33333%;
}


/*

*/


.footer-brands {
    justify-content: center;
}

.footer-brands, .footer-legal, .footer-services {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-brands--item:not(:last-child) {
    margin-right: 0;
}

.footer-brands--item {
    text-align: center;
    width: 100%;
    min-width: fit-content;
    margin-bottom: 48px;
}

.footer-brands ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
    list-style: none;
}

.footer-brands--item:not(:last-child) {
    margin-right: 0;
}

@media (min-width: 55em) {
    .footer-brands--item {
        width: 25%;
    }
}

@media (min-width: 40em) {
    .footer-brands--item {
        width: 33%;
    }
}

@media (min-width: 28em) {
    .footer-brands--item {
        width: 50%;
    }
}

.footer-brands--item img {
    height: 30px;
    /*fill: #fff;*/
}

/* img {
    vertical-align: middle;
    border: 0;
} */


.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #EEEC;
    opacity: 0;
    transition: left 0s 0.5s, opacity 0.5s;
}

.loader.loading {
    left: 0;
    opacity: 1;
    transition: left 0s, opacity 0.5s;
}

.loader:before {
    content: "";
    display: block;
    flex-grow: 0;
    width: 3em;
    height: 3em;
    border: solid #08F;
    border-width: 0.25em 0.25em 0 0;
    border-radius: 50%;
}

.loader.loading:before {
    animation: spin360 0.5s infinite linear;
}

@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Selected styles from flag-icons.min.css */
i.flag-icons, span.flag-icons {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1.3333333333em
}

i.flag-icons.square, span.flag-icons.square {
    height: 1em;
    width: 1em
}

i.flag-icons:before, span.flag-icons:before {
    content: " "
}

i.flag-icons.DE, span.flag-icons.DE {
    background-image: url(../svg/DE.svg)
}

i.flag-icons.GB, span.flag-icons.GB {
    background-image: url(../svg/GB.svg)
}