{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ i18n "contact.title" }}</h2>
            <div class="row pt-2">
                <div class="col-12">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="" id="full_name"
                                       placeholder="{{ i18n "contact.form.full_name" }}"/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" name="" id="email"
                                       placeholder="{{ i18n "contact.form.email" }}"/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="" id="message"
                                          cols="30" rows="3" placeholder="{{ i18n "contact.form.message" }}"></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary umami--click--{{ .Language }}-contact-submit">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ i18n "contact.button.btn_text" }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
