{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                {{ range .Site.Data.homepage.experience.items }}
                <div class="experience">
                    <div class="experience__date">{{ .duration }}</div>
                    <div class="experience__title">{{ .title }}</div>
                    <div class="experience__company">{{ .company }}</div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-sm-6">
                <h2>{{ i18n "experience.title" }}</h2>
                <p class="lead">
                    {{ .Param "experience.description" }}
                </p>
                <a href="{{ .Site.Data.homepage.experience.button.URL | absURL }}" class="btn btn-primary umami--click--{{ .Language }}-experience-linkedin"
                   rel="noopener"
                   target="_blank">
                    <i class="{{ .Site.Data.homepage.experience.button.icon }}"></i>
                    {{ .Site.Data.homepage.experience.button.btnText }}
                    <i class="icon-arrow-right"></i></a>
                <a href="{{ .Site.Data.homepage.experience.button2.URL | absURL }}" class="btn btn-frameless umami--click--{{ .Language }}-experience-xing"
                   rel="noopener"
                   target="_blank">
                    <i class="{{ .Site.Data.homepage.experience.button2.icon }}"></i>
                    {{ .Site.Data.homepage.experience.button2.btnText }}
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}
