<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="footer__copy">
        {{ .Site.Params.footer.copyright }}
      </div>
    </div>
    <div class="footer__links">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        {{ range .Site.Menus.footer }}
        <li class="nav-item">
          {{ $umami_slug := trim (replaceRE "-+" "-" (replaceRE "(/|#)" "-" (.URL | relURL))) "-" }}
          <a class="nav-link umami--click--{{ $.Language }}-navbar-bottom-{{ $umami_slug }}" href="{{ .URL | relLangURL }}">{{ i18n .Name | upper }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ if getenv "CI_COMMIT_SHORT_SHA" }}
    <div class="footer__right">
      <div class="text-center footer__copy">Build: {{ getenv "CI_COMMIT_SHORT_SHA" }}</div>
    </div>
    {{ end }}
  </div>
</footer>
