<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand umami--click--{{ .Language }}-navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        <span>{{ .Site.Params.logo.text1 }}</span>
        <span>{{ .Site.Params.logo.text2 }}</span>
        <!-- <img
          class="img-responsive"
          src="img/logo-dark.png"
          srcset="img/logo-dark.png 1x, img/logo-dark@2x.png 2x"
          alt="Header Logo"
        /> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | relLangURL }}">HOME</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            {{ $umami_slug := trim (replaceRE "-+" "-" (replaceRE "(/|#)" "-" (.URL | relURL))) "-" }}

            <a data-scroll class="nav-link umami--click--{{ $.Language }}-navbar-top-{{ $umami_slug }}" href="{{ .URL | relLangURL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
          <li class="nav-item">
          {{ range .Translations }}
              <a class='nav-link umami--click--{{ $.Language }}-navbar-top-langchooser-{{ .Language }}' href='{{ .RelPermalink }}'><i class="flag-icons {{ replace .Language "en" "gb" | upper }}"></i></a>
          {{ end }}  
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
