<meta name="description" content="{{ .Site.Data.homepage.homepage.head.description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Page.Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if .IsHome }}Home | {{ else }}{{ if .Page.Title }}{{ .Page.Title }} | {{ end }}{{ end }}{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Data.homepage.homepage.head.description }}">
<meta property="og:image" content="https://via.placeholder.com/1200x630?text=Sebastian+Neumann+Technology+Services">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Page.Permalink }}">
<meta name="twitter:title" content="{{ if .IsHome }}Home | {{ else }}{{ if .Page.Title }}{{ .Page.Title }} | {{ end }}{{ end }}{{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Site.Data.homepage.homepage.head.description }}">
<meta name="twitter:image" content="https://via.placeholder.com/1200x630?text=Sebastian+Neumann+Technology+Services">

<!-- start favicons snippet, use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "/img/favicon/site.webmanifest" | absURL }}">
<link rel="mask-icon icon" sizes="any" href="{{ "/img/favicon/safari-pinned-tab.svg" | absURL }}" color="#fc4d50" type="image/svg+xml">
<link rel="shortcut icon" href="{{ "/img/favicon/favicon.png" | absURL }}">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="{{ "/img/favicon/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#ffffff">
<!-- end favicons snippet -->

<!-- Tracking with umami -->
{{ if hugo.IsProduction }}
<script async defer data-website-id="c32dd238-2948-4255-9e83-24b0c513da5c" src="https://stats.justenough.cloud/umami.js"></script>
{{else}}
<script async defer data-website-id="373e1bac-e722-4121-a725-78c59a29aa29" src="https://stats.justenough.cloud/umami.js"></script>
{{ end }}

