{{ if .Site.Data.homepage.showcase.enable }}
<!-- showcase start -->
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg">
    <picture class="lozad img-responsive" 
        style="display: block; min-height: 1rem" 
        data-iesrc="{{ .Site.Data.homepage.showcase.image.x | absURL }}" 
        data-alt="{{ .Site.Data.homepage.showcase.image.alt }}">
      <source type="image/webp" srcset="{{ replace .Site.Data.homepage.showcase.image.x ".png" ".webp" | absURL }} 1x, {{ replace .Site.Data.homepage.showcase.image._2x ".png" ".webp" | absURL }} 2x">
      <source type="image/png"  srcset="{{ .Site.Data.homepage.showcase.image.x | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x | absURL }} 2x">
      <img src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs=">
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ i18n "showcase.title" }}
          <br />
          <span
            >{{ i18n "showcase.subtitle" }}</span
          >
        </h1>
        <p class="lead">
          {{ .Param "showcase.description" | safeHTML }}
        </p>
        <a
          href="{{ .Site.Data.homepage.showcase.button.URL | relLangURL }}"
          class="btn btn-primary umami--click--{{ .Language }}-showcase-contact"
        >
          <i class="{{ .Site.Data.homepage.showcase.button.icon }}"></i>
          {{ i18n "showcase.button.btn_text" }}
        </a>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank" rel="noopener" class="umami--click--{{ $.Language }}-showcase-social-{{ .icon }}"
          ><i class="icon-{{ .icon }}"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.showcase.imageMobile.x | absURL }}"
      alt="{{ .Site.Data.homepage.showcase.imageMobile.alt }}"
    />
  </div>
</section>
<!-- showcase end -->
{{ end }}
