{{ if .Site.Data.homepage.tagcloud.enable }}
<style scoped>
    .tag-item {
        display: inline-flex;
        margin-bottom: 12px;
        margin-right: 8px;
    }
    
    .tag {
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(219, 226, 230);
        border-radius: 4px;
        border-width: 0px;
        color: rgb(94, 115, 125);
        /* color: rgb(255, 255, 255); */
        display: flex;
        font-size: 14px;
        height: 32px;
        line-height: 16px;
        padding: 0px 16px;
    }

    .skill {
        background-color: #5eb63d;
    }

    .technology {
        background-color: #ff9319;
    }
</style>
<section class="section rad-animation-group section--border-bottom" id="skills">
    <div class="container">
        <h2 class="rad-fade-down">{{ i18n "tagcloud.title" }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            <div class="col-12">
            {{ with .Site.Data.tagcloud }}
                {{ $LangSpecificTags := index .tagcloud (string $.Language) }}
                {{ $TagList := .tagcloud.common | append $LangSpecificTags }}
                {{ range (shuffle $TagList) }}
                <div class="tag-item">
                    <div class="tag {{ .type }}2"><span>{{ .item }}</span></div>
                </div>
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
